$logViewHeight: 140px;
$statusBarHeight: 18px;

.contentLeft {
  grid-column: 1;
  grid-row: 1;
}

.contentRight {
  grid-column: 2;
  grid-row: 1;
}

.content {
  border: 1px white solid;
  overflow-x: auto;
  overflow-y: scroll;
  position: relative;
  z-index: 0;
  height: inherit;
}

.contentBody {
  padding: 3px 3px calc(1em + 6px) 3px;
  position: relative;
  overflow: auto;
}

.contentBody > ul {
  margin: 0;
  padding: 0;
}

.contentBody > ul li {
  border-bottom: 1px rgb(18, 18, 28) solid;
  height: 100%;
  line-height: 100%;
  display: flex;
}

.topInfoContainer {
  position: sticky;
  top: 0;
  z-index: 2;
}

.pathInfo {
  background-color: rgb(4, 4, 10);
  height: calc(1em + 2px);
  line-height: calc(1em + 2px);
  padding: 2px 4px 0 4px;
}

.pathInfo > span {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

.markInfo {
  border-top: 1px white solid;
  border-bottom: 1px white solid;
  padding: 1px 4px 0 4px;
  background-color: rgb(4, 4, 10);
  height: 1em;
}

.markInfo > span {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

.bottomInfoContainer {
  position: fixed;
  bottom: calc(#{$logViewHeight} + #{$statusBarHeight} - 1px);
  width: 100%;
  border-top: 1px white solid;
}

.findInfo {
  width: calc(50% - 20px);
  padding: 3px 2px 0 5px;
  background-color: rgb(4, 4, 10);
  height: calc(1em + 2px);
}

.findLabel {
  display: inline-block;
}

.directoryInfo {
  width: calc(50% - 20px);
  padding: 3px 5px 0 5px;
  background-color: rgb(4, 4, 10);
  height: calc(1em + 2px);
}

.directoryInfo > span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

.findInfo input {
  width: calc(100% - 82px);
  color: white;
  background-color: black;
  height: calc(1em + 2px);
  border: 0;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
  padding: 0;
  box-sizing: border-box;
}

.findInfo input:focus {
  color: black;
  background-color: rgb(255, 255, 180);
}
